@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Quantico&family=Roboto&display=swap');
* {
    font-family: 'Dancing Script', cursive;

}

html {
    background-color: #DCCDFA;
}

h1 {
    text-align: center;
    font-size: 6vw;
    margin-bottom: 6rem;
}

footer {
    display: flex;
    font-size: 2vw;
    height: 10vw;
    align-items: center;
    justify-content: center;
}

.grid-container {
    max-width: 600px;
    max-height: 600px;
    border: 1px solid black;
    display: grid;
    margin: 2rem;
}

input[type="color"] {
    border: none;
    height: 50px;
    width: 50px;
    align-self: center;
}

.cell {
    border: none;
    aspect-ratio: 1;
}

.draw {
    display: flex;
    align-items: center;
}

.functions {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    margin-left: 4rem;
    margin-right: 0;
}

.grid-container {
    flex: 1 1 0;
    margin: auto;
    margin-left: 5rem;
    background-color: white;
    border: none;
    box-shadow: 10px 10px 10px #A09FA0;
}

button {
    max-width: 10rem;
    margin: 1rem;
    height: 3rem;
    font-size: 1.8rem;
    transition: all 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.5);
}

input {
    max-width: 10rem;
    margin: 1rem;
}

output {
    text-align: center;
}

#color {
    background: linear-gradient(to left,
    white,
    darkmagenta,
    mediumvioletred,
    deeppink,
    crimson,
    red,
    white
    );
    -webkit-background-clip: text;
    color: transparent;
    border: none;
}

#rainbow {
    background: linear-gradient(to left,
                white,
                darkmagenta,
                blue,
                green,
                orange,
                red,
                white);
    -webkit-background-clip: text;
    color: transparent;
    border: none;
}

#shadow {
    background: linear-gradient(to left,
                white,
                black,
                dimgray,
                gray,
                darkgray
                );
    -webkit-background-clip: text;
    color: transparent;
    border: none;
}

#clear-button, #eraser-button {
    -webkit-background-clip: text;
        color: black;
        border: none;
}